.mdl-layout__drawer {
    background-color: rgb(67, 74, 93)!important;
    color: white!important;
    border-right: 0px solid black!important;
    @media screen and (min-width: 1024px) {
        padding-top: 64px;
    }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
	//background-color: rgba(255,255,255,0.65) !important;
	&:hover{
			background-color:black !important;
	}
}
